* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient {
	background: linear-gradient(90deg, #11b2a8 0%, #282c3f 150%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
